<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="MapLesotho - Planning and OpenStreetMap project" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="author" type="text/plain" href="humans.txt" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="#MapLesotho" />
    <meta name="twitter:title" content="MapLesotho - Planning and OpenStreetMap project">
    <meta name="twitter:description" content="MapLesotho - Planning and OpenStreetMap project" />
    <meta name="twitter:image:src" content="{{site.siteurl}}/assets/graphics/meta/default-meta-image.png" />
    <!--/ Twitter --> 

    <!-- OG -->
    <meta property="og:site_name" content="#MapLesotho - Planning and OpenStreetMap project" />
    <meta property="og:title" content="#MapLesotho - Planning and OpenStreetMap project" />
    <!-- <meta property="og:url" content="" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:description" content="MapLesotho - Planning and OpenStreetMap project" />
    <meta property="og:image" content="{{site.siteurl}}/assets/graphics/meta/default-meta-image.png" />
    <!--/ OG -->

    <link rel="shortcut icon" href="{{site.siteurl}}/assets/graphics/meta/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="assets/graphics/meta/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/graphics/meta/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.siteurl}}/assets/graphics/meta/apple-touch-icon-152x152.png" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" />


    <!-- build:css /assets/styles/vendor.css -->
    <!-- endbuild -->

    <!-- build:css /assets/styles/main.css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://widgets.wp.com/platform.js"></script>

    
    <!-- build:js /assets/scripts/vendor.js -->
    <script src="{{site.baseurl}}/assets/scripts/vendor.js"></script>
    <!-- endbuild -->
    
    <!-- build:js /assets/scripts/bundle.js -->
    <script src="{{site.baseurl}}/assets/scripts/bundle.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="{{site.baseurl}}/assets/scripts/jquery.min.js"></script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body>
   <!--[if lt IE 11]>
      <div id="nocando">
        <h1>No can do!</h1>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->


  <div class="p2y fill-lightgrey">
  
  	<div class="wrapper clearfix">
    <nav>
      <div class="col4">
  		<h1 class="page__title">
        <a href="{{site.baseurl}}{% if page.phome %}{{page.phome}}{% endif %}" title="Visit homepage">
          <span class="mast-logo mast-logo--h">
            <img src="{{site.baseurl}}/assets/graphics/layout/maplesotho-logo-pos.svg" alt="#MapLesotho logo" class="mast-logo__image" style="max-width: 180px;" />
            <!-- <strong class="mast-logo__text">MapLesotho</strong> -->
            <small class="mast-logo__label">{{ page.psection }}</small>
          </span>
        </a>
      </h1>   
      </div> 
      <div class="col8">
        <ul class="global-menu text-right">
          <li><a class="global-menu-item" href="{{site.baseurl}}/#dash">Dashboard</a></li>
          <li><a class="global-menu-item" href="https://stats.maplesotho.com/">Users</a></li>
          <li><a class="global-menu-item" href="{{site.baseurl}}/about">About</a></li>
          <li><a class="global-menu-item" href="{{site.baseurl}}/blog">Blog</a></li>
          <li><a class="global-menu-item" href="{{site.baseurl}}/videos">Videos</a></li>
          <li><a class="global-menu-item" href="{{site.baseurl}}/weekly">Weekly</a></li>
        </ul>
      </div>
      </nav>
  	</div>
  
  </div>

  {{ content }}

  
  {% include footer.html %}

  <style type="text/css">
  	.item {min-height: 260px;}
  </style>

  

  </body>
</html>
