---
layout: default
---

<div class="wrapper clearfix">
	<div class="p8">
		<h2>{{page.title}}</h2>
		<p><small>{{page.date | date_to_long_string  }}</small> | <strong>{{page.author}}</strong></p>	
		<div class="space-top2 p2y line-top">
			{{content}}
		</div>
	</div>
</div>

<div class="wrapper center p8x p4y post-actions">
	<a class="icon twitter" href="https://twitter.com/share?url={{site.siteurl}}{{site.baseurl}}{{page.url}}">Twitter</a>

	<a class="icon facebook" href="http://facebook.com/sharer.php?u={{site.siteurl}}{{site.baseurl}}{{page.url}}">Facebook</a>
	
	<a class="icon all" href="{{site.baseurl}}{{page.previous.url}}">All</a>
  
  <a class="icon prev {% unless page.previous.url %}disabled{% endunless %}" href="{{site.baseurl}}{{page.previous.url}}">Previous</a>

  <a class="icon next {% unless page.next.url %}disabled{% endunless %}" href="{{site.baseurl}}{{page.next.url}}"> Next</a>
  

</div>
