<div class="p4y fill-blue dark center line-bottom">
<div class="wrapper">
	<div class="p8x">
		<h2>Keep in touch </h2>
		<a href="https://www.facebook.com/groups/1539200169678837/?fref=nf" class="button icon facebook">Facebook</a> 
		<a href="https://twitter.com/search?q=%23MapLesotho&src=typd" class="button icon twitter">#MapLesohto</a> 
		<a href="http://wiki.openstreetmap.org/wiki/WikiProject_Lesotho" class="button icon twitter">OSM Wiki</a> 
	</div>
</div>
</div>

<footer class="p4y fill-lightgrey" >
    <div class="wrapper">
    	<div class="p8x">
    		<p>Made with love by <a href="https://cbroderick.me" title="Visit Colin Brodericks website">Colin Broderick</a> and <a href="http://fingal.ie/" title="Visit the Fingal County Council website">Fingal</a>, inspired by Development Seed and HotOSM.</p>
    	</div>
    </div>
</footer>

<!-- Get Gauges -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '57c1d417c88d90366d024be9');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>